name: Python Tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        tox_env:
          - py36-django22
          - py37-django22
        include:
          - python-version: "3.6"
            tox_env: py36-django22
          - python-version: "3.7"
            tox_env: py37-django22

    steps:

    - name: Install system dependencies
      run: |
        sudo apt-get install libpq-dev

    - uses: actions/checkout@v1

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip tox

    - name: Test with tox
      run: |
        tox -e ${{ matrix.tox_env }}

    - name: Prepare Coverage report
      run: tox -e coverage-report

    - name: Upload to codecov
      uses: codecov/codecov-action@v1.0.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        flags: unittests

    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@master
      with:
        user: __token__
        password: ${{ secrets.pypi_password }}
